/* html, body, #root{ */
/* height: 90%; */
/* } */
body {
  height: 100vh;
  width: 100vw;
}

ul {
  list-style: none;
}
#root,
.container {
  height: 90%;
}

header {
  padding-top: 25px;
}
.logo {
  margin-right: 50px;
  vertical-align: top;
  text-decoration: none;
  color: rgb(255, 192, 203);
}

.logo:hover {
  color: rgb(255, 192, 203);
}

.logo h1 {
  display: inline-block;
  font-size: 2em;
}
button {
  margin-right: 5px;
}

.nav-main ul {
  display: inline-block;
  list-style: none;
}

.nav-main ul li {
  position: relative;
}
.signin-buttons {
  float: right;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: rgb(255, 192, 203);
  border: 1px solid rgb(255, 192, 203);
  margin-right: 5px;
}

.button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover {
  background-color: rgb(255, 210, 220);
  border: 1px solid rgb(255, 210, 220);
}

.dropdown {
  margin: 0;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.dropdown li {
  text-align: center;
  margin: 0 15px;
  padding: 16px 10px 16px 10px;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.dropdown li:last-child {
  text-align: center;
  padding-bottom: 15px;
  border-bottom: none;
}

.dropdown li button {
  border: none;
  padding: 0;
  margin: 0;
}

.master-dropdown {
  position: absolute;
  top: 100%;
  left: 5%;
}
main.row {
  height: 80%;
  /* margin-bottom: 50px; */
}
.master-resume {
  height: 100%;
  padding: 0 25px 0 0;
  border-right: 1px solid rgb(225, 225, 225);
}

h2.master-name {
  text-align: center;
  font-size: 2.2em;
  margin: 5% 0 0;
}

h3.master-tag {
  text-align: center;
  font-size: 1.6em;
}

.master-summary {
  padding: 2%;
  margin: 0 4%;
  border-top: 1px solid rgb(225, 225, 225);
  border-bottom: 1px solid rgb(225, 225, 225);
  text-align: center;
  font-size: 1em;
  line-height: 1.4;
}

.master-skills dt,
.master-skills dd {
  display: inline;
  margin: 0 5px 0 0;
}
.master-skills dt {
  font-weight: bold;
}

.master-skills dd::after {
  content: ",";
}

.master-experience dt {
  font-weight: bold;
}

.master-experience-dates {
  font-weight: normal;
  margin: 0 0 0 5px;
}

.master-experience dd {
  margin: 0 0 10px 0;
}

.master-experience dd::before {
  content: "•  ";
}

textarea:focus {
  border: 1px solid rgb(255, 210, 220);
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 10% auto auto;
}

.form-signin input[type="text"] {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px balck solid;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  border: 1px solid black !important;
  outline: black !important;
}

fieldset {
  margin: 15px 0;
  padding-bottom: 15px;
  border-bottom: 1px solid rgb(225, 225, 225);
}

legend {
  font-size: 1.2em;
  text-decoration: underline;
}

.master-experience {
  position: relative;
  /* list-style: none; */
}

.master-experience-detail {
  font-weight: bolder;
}

master-skills {
  margin: 15px 0;
}

.master-skills-title,
.master-skills-items {
  display: inline;
}

.resume-item {
  position: relative;
}

.overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.resume-item:hover .overlay {
  display: block;
}
.actions {
  float: right;
}

.actions button {
  border: none;
  padding: 0 5px;
  margin: 0 5px;
}

.master-address {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: -25px;
}

.homepage {
  margin-top: 50px;
  text-align: center;
}

.ascii {
  font-size: 4em;
  margin-top: 50px;
}
